.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.registerForm input, .registerForm button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.registerForm button {
  background-color: #E98D34;
  color: white;
  cursor: pointer;
}

.registerForm button:hover {
  background-color: #d47c2f;
}

.registerForm p {
  color: #162731;
}
